<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">
  <div class="row">
    <div class="card-wrapper col-lg-4 col-md-6 col-xs-12">
      <div class="card">
        <div class="card-img-wrapper">
          <img class="card-img-top" src="electric02.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Current model range</h5>
          <div class="card-content">
            <p class="card-text">Mercedes-Benz offers a versatile range of consumer-passenger, light commercial and heavy commercial equipment. These vehicles are manufactured in multiple countries worldwide. The Smart marque of city cars are also produced by Daimler AG.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-wrapper col-lg-4 col-md-6 col-xs-12">
      <div class="card">
        <div class="card-img-wrapper">
          <img class="card-img-top" src="cart02.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Environmental record</h5>
          <p class="card-text">Mercedes-Benz has developed multi-concept cars with alternative propulsion, such as hybrid-electric, fully electric, and fuel-cell powertrains. At the 2007 Frankfurt motor show, Mercedes-Benz showed seven hybrid models, including the F700 concept car, powered by a hybrid-electric .</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="card-wrapper  col-lg-4 col-md-6 col-xs-12">
      <div class="card">
        <div class="card-img-wrapper">
          <img class="card-img-top" src="cart 01.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Electric cars</h5>
          <p class="card-text">Mercedes opened its sixth battery factory in 2018. Critics deemed the marque's EQS sedan a tough competitor to Tesla, Inc.The six factories are established across three continents.The brand has also launched its electric EQ brand with the EQC SUV which was set for production in the year 2019. In September 2018.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="card-wrapper card-image-title-description col-lg-4 col-md-6 col-xs-12">
      <div class="card">
        <div class="card-img-wrapper">
          <img class="card-img-top" src="product01.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Motorsport</h5>
          <p class="card-text">The two companies which were merged to form the Mercedes-Benz brand in 1926 had both already enjoyed success in the new sport of motor racing throughout their separate histories. A single Benz competed in the world's first motor race, the 1894 Paris–Rouen, where Émile Roger finished 14th in 10 hours 1 minute. </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
