<div class="container">
  <div class="d-lg-flex">
      <div class="d-md-flex align-items-center mb-lg-0 mb-md-5">
          <div class="col1 me-md-4 mb-md-0 mb-5">
              <div class="card pb-4">
                  <span class="fab fa-envira mt-3"></span>
                  <p class="h4 pt-4">Product Range</p>
                  <p class="p1 text-muted">
                      Mercedes-Benz offers a wide range of vehicles, including luxury sedans, SUVs, coupes, and even light commercial vehicles. They are known for their engineering, design, and performance
                  </p>
                  <span class="fas fa-arrow-right"></span>
              </div>
          </div>
          <div class="col2 me-md-4 mb-md-0 mb-5">
              <div class="card pb-4">
                  <span class="fas fa-cut mt-3"></span>
                  <p class="h4 pt-4">Innovation</p>
                  <p class="p1 text-muted">
                     The company is a pioneer in automotive technology, with a history of innovation, including advancements in safety features like the crumple zone and airbag. 
                  </p>
                  <span class="fas fa-arrow-right"></span>
              </div>
          </div>
          <div class="col3 me-md-4 mb-md-0 mb-5">
              <div class="card pb-4">
                  <span class="fas fa-people-carry mt-3"></span>
                  <p class="h4 pt-4">Global Presence</p>
                  <p class="p1 text-muted">
                      The Mercedes-Benz Group is a global company with manufacturing and sales operations around the world. They offer a variety of financing, leasing, and mobility services through their Mercedes-Benz Mobility arm.  
                  </p>
                  <span class="fas fa-arrow-right"></span>
              </div>
          </div>
      </div>
      <div class="col4">
          <div class="content">
              <span class="h-6">Services</span>
              <p class=" h2 mb-4">Luxury and Performance</p>
              <p class="text-muted mb-4">Mercedes-Benz is synonymous with luxury and high performance. Their vehicles are known for their powerful engines, smooth handling, and refined interiors. 
                  is a paradisematic country, in which roasted parts of sentences fly into your.</p>
              <p><a href="#" class="btn btn-primary">Get a Quote</a></p>
          </div>
      </div>
  </div>
</div>
