<div class="container-fluid">
 <div class="jumbotron">
  <h1 class="display-4">Mercedes-Benz Shop</h1>
  <p class="lead">Mercedes-Benz, a German luxury automaker, is renowned for its high-quality vehicles and innovative engineering. Founded in 1926 through the merger of Daimler Motorengesellschaft and Rheinische Gasmotorenfabrik, the company has expanded globally and remains a leader in the luxury car market according to Scribd and Wikipedia. The brand's symbol, a three-pointed star within a circle, is a famous representation of land, air, and sea, reflecting Gottlieb Daimler's diverse engine applications. </p>
  <hr class="my-4">
  <h5>Luxury and Innovation</h5>
  <P>It’s hard to talk about Mercedes-Benz and not also talk about how luxurious this brand is known for being. It’s in the name. While you are definitely going to pay a little more for Mercedes-Benz, you are also going to get a luxury car experience unlike any other. It’s noticeable immediately as the interior is made of only the finest material. Everything is plush, premium, and polished. LED lighting creates a lovely atmosphere and multiple entertainment options are available at your fingertips.</P>
  <h5>History</h5>
  <p>Mercedes‑Benz is the oldest car manufacturer in the world. in 1886, Carl Benz patented his revolutionary motorised car and Gottlieb Daimler developed his four-wheeled motorised carriage. Since then, we have been reinventing the automobile time and again, shaping the future of individual mobility on the basis of our history. From the beginnings of the two start-ups in Mannheim and Cannstatt, today's globally active group, Mercedes‑Benz Group AG, has developed over almost 140 years. The history of the company is a fascinating company biography and a reflection of contemporary history, innovation chronicle and motorsport milestones.</p>
  <img src="1st vehical.avif" alt="">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="Car-01.jpg" class="d-block w-100" alt="..." >
      </div>
      <div class="carousel-item">
        <img src="Car-02.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="0033_2018-E-400-Coupe.avif" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

